<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value="example"/>
    <add key="password" value="password"/>
    <add key="token" value="abcedfg"/>
  </appSettings>
</configuration>